img.imgLink{
	opacity: 0.75;
	margin-left: 5px;
}

img.imgLink:hover{
	cursor: pointer;
	opacity: 1;
}

input[type=text].borda, input[type=password].borda{
	border: 2px solid #00A3DE;
	border-radius: 7px;
	padding: 3px 10px;
}

input[type=text].vazio{
	border: 2px solid #bf1e2c;
	border-radius: 7px;
	padding: 3px 10px;
}

td.borda{
	border: solid 1px black
}

td.bordaVertBlack{
	border-left: solid 1px black;
	border-right: solid 1px black;
}

td.bordaHorBlack{
	/*5586c2*/
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

select.borda{
	border: 2px solid #00A3DE;
	padding: 3px 10px;
}

select.vazio{
    border: 2px solid #bf1e2c;
	padding: 3px 10px;
}

textarea.justif{
	border: 2px solid #00A3DE;
	border-radius: 15px;
	padding: 5px 10px;
}

textarea.obs{
	border: 2px solid #00A3DE;

	padding: 5px 10px;
	resize: none;

	height: 5em;
}

input[type=file]{
	display: none;
}

label.lblUpload{
	background-color: #00A3DE;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	border: 2px solid #005271;
	border-radius: 7px;
	opacity: 0.75;
	width: 200px;
	display:inline-block;
	box-shadow: 0 3px #999;
}

label.lblUpload:hover{
	opacity: 1.0;
	cursor: pointer;

}

label.lblUpload:active{
	opacity: 1.0;
	cursor: pointer;
	box-shadow: 0 3px #666;
	transform: translateY(2px);
}


input[type=button], input[type=submit]{
	background-color: #00A3DE; /* azul unesp*/
	border: none;
	color: white;
	padding: 10px 27px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	box-shadow: 0 5px #999;
	opacity: 0.75;
	border: 2px solid #005271;
}

input[type=button].btPequeno, input[type=submit].btPequeno{
	background-color: #00A3DE; /* azul unesp*/
	color: white;
	padding: 2px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border: none;
	cursor: pointer;
	box-shadow: 0 3px #999;
	opacity: 0.75;
	border: 2px solid #005271;
}

input[type=button]:active, input[type=submit]:active {
  opacity:1;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

input[type=button]:disabled, input[type=submit]:disabled{
	opacity: 0.4;
	cursor: not-allowed;
}

input[type=button]:hover:not([disabled]), input[type=submit]:hover:not([disabled]) {
  opacity: 1;
}

*:focus {
    outline: none;
}

input[type=button].menu{
	background-color: #00A3DE; /* azul unesp*/
	border: none;
	color: white;
	padding: 10px 27px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 15px;
	box-shadow: 0 0px;
	opacity: 0.75;
	border: 2px solid #005271;
	width: 150px;
}




label.vis{
	display: inline;
}
.nvis{
	display: none;
}




#divControle, #divResumo{
	margin-left:10px;
	margin-top:10px;
	width:450;
}



#divBtDialog{
	position: absolute;
	bottom: 6;
	right: 6;
}

#qryMan:hover{
	cursor:pointer;
}


div.width100{
	margin-left:10px;
	margin-top:10px;
	width:98%;
}

div.vis{
	display:block;
}

div.divHover{
	margin-left:0px;
	margin-top:0px;
	width:18px;
}

div.divHover:hover{
	cursor:pointer;
}

div.linhaestreito{
	display:inline-block;
	vertical-align:top;
	width: 200px;
	margin-left:10px;
}

div.linhalargo{
	display:inline-block;
	vertical-align:top;
	width: 300px;
}


div.alter{
	margin-left:1px;
	margin-top:1px;
	width:98%;
	margin:auto;
	text-align:center;
	color: #ff0000;
	border: 1px solid #ff0000;
}

div.menu{
	margin-left:0px;
	margin-top:0px;
	width:160px;
/*	text-align:center; */
	color: #ff0000;
	border: 3px solid #ff0000;
}

tr.zebraAzulTitulo {
	background-color: #6596D2;
}



tr.zebraAzul:nth-child(even) {
	background-color: #DBE5F1;
}

tr.zebraAzul:nth-child(odd) {
	background-color: #B8CCE4;
}

tr.zebraAzul:hover {
	background-color: #FBFFFF;
}



label.link:hover{
	cursor: pointer;
	color: #0000aa;
	text-decoration: underline;
}

label.link{
	color: #0000ff;
	text-decoration: underline;
}
